# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc

# Dependencies
/node_modules

# IDEs and editors
/.idea/
/.project
/.classpath
/.settings/
/*.launch
.c9/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Temporary files
*.tmp
*.temp
*.log

# Angular & Sass cache
/.angular/cache
/.sass-cache

# Coverage & testing
/coverage
/testem.log

# Logs and lock files
npm-debug.log
yarn-error.log
/libpeerconnection.log
/connect.lock

# System Files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Misc
/typings
